@import "bootstrap";

body {
  font-family: "ヒラギノ角ゴシック", "メイリオ";
}

header {
  background-color: black;
  height: 150px;
}

h1 {
  text-align: center;
  padding:50px 0;
  color: #ffc107;
}

a {
  text-decoration: none;
}

.volume-popover{
  text-align: right;
  margin: 40px;
}

.record_button{
  margin-top: 30px;
  margin-left: 86px;
}

.calendar-heading {
  text-align: center;
  margin-bottom: 10px;
}

.simple-calendar {
  margin: 0 auto;
  width:80%;
}

.btn-outline-dark {
  margin-top: 10px;
}

