@import "bootstrap";

h1 {
  text-align: center;
  margin-top: 50px;
}

a {
  text-decoration: none;
}

.calendar-heading {
  text-align: center;
  margin-bottom: 10px;
}

.simple-calendar {
  margin: 0 auto;
  width:80%;
}

